In [36]:
import pandas as pd
import numpy as np
import os 
from pathlib import Path
import warnings
import matplotlib.pyplot as plt

warnings.filterwarnings("ignore")

In [ ]:
import pht

In [37]:
# filepath2 = os.path.join(Path(__file__).parents[1], 'data\Trend_Full_Data_data (1).xlsx')

In [38]:
# filepath2 = os.path.join(Path(__file__).parents[1], 'data\FICS48HourCallBack(1).xlsx')
# df = pd.read_excel(r'C:\Users\jwood\OneDrive\Desktop\Work Folder\Work Folder\Project_2\data\BP Tool Usage Detail(1).xlsx', skiprows=2, header=0)

df = pd.read_excel(r'C:\Users\jwood\OneDrive\Desktop\Work Folder\Work Folder\Project_2\data\Trend_Full_Data_data (1).xlsx')

In [39]:
df.columns

Index(['Period', 'Howler % Lable', 'Howler Eligible  Lable', 'Howler Lable',
       'BPSelect', 'Complete Date', 'Customer Class', 'Division',
       'Dwell Category', 'JobTypeCD',
       ...
       'XM User', 'XM User Only%', 'XM User WO%', 'XM UserWO', 'XM WO',
       'XM WO Only%', 'XMCompliance', 'XMFails', 'XMNULL', 'XMTestFail'],
      dtype='object', length=111)

In [40]:
pht = df[['Complete Date', 'Tech ID', 'PHT Result', 'Region', 'System']]
wa_pht = pht[pht['Region'] == 'SEATTLE REGION']
spokane_pht = wa_pht[wa_pht['System'] == "SPOKANE, WA"]
sea_pht = wa_pht[wa_pht['System'] != "SPOKANE, WA"]

In [41]:
sea_pht

     Complete Date  Tech ID PHT Result          Region               System
79      2022-08-21     8465        PAS  SEATTLE REGION  WASHINGTON WEST, WA
80      2022-08-21     8307        PAS  SEATTLE REGION  WASHINGTON WEST, WA
83      2022-08-21     8333        PAS  SEATTLE REGION  WASHINGTON WEST, WA
84      2022-08-21     8353        PAS  SEATTLE REGION  WASHINGTON EAST, WA
85      2022-08-21     8382        PAS  SEATTLE REGION  WASHINGTON WEST, WA
...            ...      ...        ...             ...                  ...
5014    2022-08-22     8453        PWW  SEATTLE REGION  WASHINGTON EAST, WA
5015    2022-08-22     8344        PWW  SEATTLE REGION  WASHINGTON EAST, WA
5016    2022-08-22     8348        PWW  SEATTLE REGION  WASHINGTON WEST, WA
5017    2022-08-22     8347        PWW  SEATTLE REGION  WASHINGTON WEST, WA
5018    2022-08-22     8331        PWW  SEATTLE REGION  WASHINGTON EAST, WA

[1750 rows x 5 columns]

In [42]:
# sea_pht[['Tech ID', 'PHT Result']][sea_pht['Tech ID'] == 8465].value_counts()

In [43]:
sea_pht['PHT Result'].value_counts().sort_index()

FAL       3
PAS    1149
PWO      16
PWW     582
Name: PHT Result, dtype: int64

In [44]:
def sort_pht ():

    df = pd.DataFrame(columns = ['Tech ID', 'PHT Fail', 'PHT Pass', 'PHT PWO', 'PHT PWW'])
    
    for id in sea_pht['Tech ID']:
        tech_pht = sea_pht[['Tech ID', 'PHT Result']][sea_pht['Tech ID'] == id].value_counts().sort_index()
        df.loc[len(df)] = tech_pht

    return tech_pht

In [45]:
sort_pht()

Tech ID  PHT Result
8331     PAS           22
         PWW           10
dtype: int64