In [1]:
import pandas as pd
import numpy as np
import os 
from pathlib import Path
import warnings
import matplotlib.pyplot as plt

warnings.filterwarnings("ignore")

In [2]:
# filepath2 = os.path.join(Path(__file__).parents[1], 'data\Trend_Full_Data_data (1).xlsx')

In [5]:
# filepath2 = os.path.join(Path(__file__).parents[1], 'data\FICS48HourCallBack(1).xlsx')
# df = pd.read_excel(r'C:\Users\jwood\OneDrive\Desktop\Work Folder\Work Folder\Project_2\data\BP Tool Usage Detail(1).xlsx', skiprows=2, header=0)

df = pd.read_excel(r'C:\Users\jwood\OneDrive\Desktop\Work Folder\Work Folder\Project_2\data\Trend_Full_Data_data (1).xlsx', header = 0)

In [6]:
df.head()

,Period,Howler % Lable,Howler Eligible Lable,Howler Lable,BPSelect,Complete Date,Customer Class,Division,Dwell Category,JobTypeCD,...,XM User,XM User Only%,XM User WO%,XM UserWO,XM WO,XM WO Only%,XMCompliance,XMFails,XMNULL,XMTestFail
0,2022-08-01,NaN,NaN,NaN,True,2022-08-21,Residential,WEST DIVISION,Single Family Residence,9,...,0,NaN,NaN,0,0,NaN,0,0,0,0
1,2022-08-01,NaN,NaN,NaN,True,2022-08-21,Residential,WEST DIVISION,Single Family Residence,9,...,0,NaN,NaN,0,0,NaN,0,0,0,0
2,2022-08-01,NaN,NaN,NaN,True,2022-08-21,Residential,WEST DIVISION,Single Family Residence,3,...,0,NaN,NaN,0,0,NaN,0,0,0,0
3,2022-08-01,NaN,NaN,NaN,True,2022-08-21,Residential,WEST DIVISION,Single Family Residence,3,...,0,NaN,NaN,0,0,NaN,0,0,0,0
4,2022-08-01,NaN,NaN,NaN,True,2022-08-21,Residential,WEST DIVISION,Single Family Residence,3,...,0,NaN,NaN,0,0,NaN,0,0,0,0

In [4]:
pht = df[['Complete Date', 'Tech ID', 'PHT Result', 'Region', 'System']]
wa_pht = pht[pht['Region'] == 'SEATTLE REGION']
spokane_pht = wa_pht[wa_pht['System'] == "SPOKANE, WA"]
sea_pht = wa_pht[wa_pht['System'] != "SPOKANE, WA"]

In [20]:
# sea_pht

In [21]:
# sea_pht[['Tech ID', 'PHT Result']][sea_pht['Tech ID'] == 8465].value_counts()

In [6]:
pht_fail = sea_pht['PHT Result'].value_counts().sort_index()[0]
pht_pass = sea_pht['PHT Result'].value_counts().sort_index()[1]
pht_pww = sea_pht['PHT Result'].value_counts().sort_index()[3]

In [23]:
def sort_pht ():

    df = pd.DataFrame(columns = ['Tech ID', 'PHT Fail', 'PHT Pass', 'PHT PWO', 'PHT PWW'])
    
    for id in sea_pht['Tech ID']:
        tech_pht = sea_pht[['Tech ID', 'PHT Result']][sea_pht['Tech ID'] == id].value_counts().sort_index()
        df.loc[len(df)] = tech_pht

    return tech_pht

In [24]:
sort_pht()

Tech ID  PHT Result
8331     PAS           22
         PWW           10
dtype: int64

In [25]:
def run_app():
    

    pht = df[['Complete Date', 'Tech ID', 'PHT Result', 'Region', 'System']]
    wa_pht = pht[pht['Region'] == 'SEATTLE REGION']
    spokane_pht = wa_pht[wa_pht['System'] == "SPOKANE, WA"]
    sea_pht = wa_pht[wa_pht['System'] != "SPOKANE, WA"]


    test = sea_pht['PHT Result'].value_counts().sort_index()

    return print(test)

In [26]:
run_app()

FAL       3
PAS    1149
PWO      16
PWW     582
Name: PHT Result, dtype: int64